<extend name="Base/base" />

<block name="special_css">

    <link rel="stylesheet" href="__STYLE__/uploadifive/css/uploadifive.css" />

</block>

<block name="main">

    <!--main-container-part-->

    <div id="content">

        <!--breadcrumbs-->

        <div id="content-header">

            <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>

            </div>

        </div>

        <!--End-breadcrumbs-->

        <div id="content-body" class="container-fluid">

            <h3>
                <if condition="$type eq 0">
                    <span>新增蜜蜂电台音频系列</span>
                </if>

                <if condition="$type eq 1">
                    <span>新增蜜蜂影院视频系列</span>
                </if>    
            </h3>

            <form class="form-horizontal" method="POST" action="{:U('CloudCourse/add_update',array('type'=> $type))}" enctype="multipart/from-data">

                <div class="widget-box" style="">

                    <div class="widget-title">

                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#Yee_tab1" data-toggle="tab">系列信息</a>

                            </li>

                        </ul>

                    </div>

                    <div class="widget-content tab-content" style="">

                        <div class="control-group">

                            <label for="title" class="control-label">

                                系列名称: </label>

                            <div class="controls row">

                                <input type="text" 0="" placeholder="" value="" style="" name="title" id="title" class="span5"> </div>

                        </div>

                        <div class="control-group">

                            <label for="img_input" class="control-label">

                                系列图片: </label>

                            <div class="controls row">

                                <input id="img_input" name="img_input" type="file" multiple="true">

                                <input type="text" id="banner_img" name="banner_img" style="display:none;">

                            </div>

                            <div id="queue_banner_img" style="margin-left: 140px;"></div>  

                        </div>

                        <div class="control-group">

                            <label for="media_link1" class="control-label">

                                <if condition="$type eq 0">
                                    音频链接：
                                </if>

                                <if condition="$type eq 1">
                                    视频链接：
                                </if> 

                            </label>

                            <div class="controls row">

                                <input type="text" 0="" placeholder="" value="" style="" name="media_link1" id="media_link1" class="span5"> 
                                <if condition="$type eq 0">
                                    <input type="button" id="addButton" value="添加音频" onclick="add_media()" class="btn">
                                </if>

                                <if condition="$type eq 1">
                                    <input type="button" id="addButton" value="添加视频" onclick="add_media()" class="btn">
                                </if> 

                                <input type="text" style="display:none" name="media_link_num" id="media_link_num" value="1">; 
                            </div>

                            <div class="controls row" id="media_link">
                            </div>

                        </div>

                    </div>

                    <div class="form-actions">

                        <button id="btn-0" class="btn btn-success" type="submit">提交</button>

                    </div>

                </div>

            </form>

        </div>

        <script type="text/javascript">
            /*动态增加音视频链接*/
            function add_media(){

                var media_link_num_input=document.getElementById('media_link_num');
                var media_link_num=parseInt(media_link_num_input.value)+1;
                media_link_num_input.value=media_link_num;
                var content='<div><input type="text" 0="" placeholder="" value="" style="" name="media_link'+media_link_num+'" id="media_link'+media_link_num+'" class="span5">';
                content+='<input type="button" id="removeButton" value="移除链接" onclick="remove_media(this)" class="btn"></div>';
                $("#media_link").append(content);

            }

            function remove_media(input){

                var media_link_num_input=document.getElementById('media_link_num');
                var media_link_num=parseInt(media_link_num_input.value);
                media_link_num_input.value=media_link_num-1;
                input.parentNode.remove();

            }
        </script>

        <!--end-main-container-part-->

</block>

<block name="special_js">

    <script src="__STYLE__/uploadifive/js/jquery.uploadifive.js"></script> 

    <script type="text/javascript">

    <?php $timestamp = time();?>

        $(function() {            

            $('#img_input').uploadifive({

                'auto'             : true,

                'buttonText'      : '上传图片', 

                'formData'         : {

                                       'timestamp' : '<?php echo $timestamp;?>',

                                       'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'

                                     },

                'queueID'          : 'queue_banner_img',

                'uploadScript'     : '{:U('course/img_upload')}',

                'onAddQueueItem' : function(file) {

                    $(".banner-img-box").remove();

                },

                'onUploadComplete' : function(file, data) {

                    $("#queue_banner_img").append("<div class='upload-img-box banner-img-box' style='margin-bottom: 5px;'><div class='upload-pre-item'><img src='"+data+"'><div class='remove_img'><i class='fa fa-times-circle'></i></div></div></div>");

                    $("#banner_img").val(data);

                    $(".complete").hide();

                    $(".remove_img").on('click', function(event) {

                        $(this).parents('.banner-img-box').remove();

                    });

                }

            });

        });

    $(document).ready(function() {

        

        /*初始化select表单*/

        $('select').select2();



    });



    </script>

</block>

