<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <block name="head">
        <include file="Public/head" />
    </block>
    <block name="common_css">
        <include file="Public/common_css" />
    </block>
    <block name="special_css">
    </block>
</head>

<body>
    <block name="header">
        <include file="Public/header" />
    </block>
    <block name="left">
        <include file="Public/left" />
    </block>
    <block name="main">
        <include file="Public/main" />
    </block>
    <block name="footer">
        <include file="Public/footer" />
    </block>
    <block name="common_js">
        <include file="Public/common_js" />
    </block>
    <block name="special_js">
    </block>
</body>

</html>
