<extend name="Base/base" />
<block name="special_css">
    <link rel="stylesheet" href="__STYLE__/uploadifive/css/uploadifive.css" />
</block>
<block name="main">
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            </div>
        </div>
        <!--End-breadcrumbs-->
        <div id="content-body" class="container-fluid">
            <h3>
              <span>新增课程等级</span>
            </h3>
            <form class="form-horizontal" method="POST" action="{:U('level/add_update')}">
                <div class="widget-box" style="">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Yee_tab1" data-toggle="tab">课程等级信息</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content" style="">
                        <div class="control-group">
                            <label for="title" class="control-label">
                                课程等级名称: </label>
                            <div class="controls row">
                                <input type="text" 0="" placeholder="" value="" style="" name="title" id="title" class="span5"> </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">所属课程：</label>
                            <div class="controls select-div">
                                <select name="course_id" id="course_id">
                                    <foreach name="course" item="value" key="key">
                                        <option value="{$value['id']}">{$value['title']}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="title" class="control-label">
                                课程等级图片：</label>
                            <div class="controls row">
                                <input id="title_img_input" name="title_img_input" type="file" multiple="true">
                                <input type="text" id="title_img" name="title_img" style="display:none;">
                            </div>
                            <div id="queue_title_img" style="margin-left: 140px;"></div>  
                        </div>
                        <div class="control-group">
                            <label for="title" class="control-label">
                                家长指导目标: </label>
                            <div class="controls row">
                                <script id="parent_aim" name="parent_aim" type="text/plain"></script>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="title" class="control-label">
                                家长指导步骤: </label>
                            <div class="controls row">
                                <script id="parent_step" name="parent_step" type="text/plain"></script>
                            </div>
                        </div>
                          
                    </div>
                    <div class="form-actions">
                        <button id="btn-0" class="btn btn-success" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
        <!--end-main-container-part-->
</block>
<block name="special_js">
    <script src="__STYLE__/uploadifive/js/jquery.uploadifive.js"></script> 
    <script type="text/javascript" charset="utf-8" src="__STYLE__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STYLE__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__STYLE__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
    <?php $timestamp = time();?>
        $(function() {            
            $('#title_img_input').uploadifive({
                'auto'             : true,
                'buttonText'      : '上传图片', 
                'formData'         : {
                                       'timestamp' : '<?php echo $timestamp;?>',
                                       'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
                                     },
                'queueID'          : 'queue_title_img',
                'uploadScript'     : '{:U('course/img_upload')}',
                'onAddQueueItem' : function(file) {
                    $(".banner-img-box").remove();
                },
                'onUploadComplete' : function(file, data) {
                    $("#queue_title_img").append("<div class='upload-img-box banner-img-box' style='margin-bottom: 5px;'><div class='upload-pre-item'><img src='"+data+"'><div class='remove_img'><i class='fa fa-times-circle'></i></div></div></div>");
                    $("#title_img").val(data);
                    $(".complete").hide();
                    $(".remove_img").on('click', function(event) {
                        $(this).parents('.banner-img-box').remove();
                    });
                }
            });
        });
    $(document).ready(function() {
        /*初始化select表单*/
        $('select').select2();

    });

    </script>

    <script type="text/javascript">  
        var parent_aim = UE.getEditor('parent_aim',{  
            //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个  
           toolbars:[['fontfamily', 'fontsize', '|',
                'justifyleft', 'justifycenter', 'justifyright']],  
            //focus时自动清空初始化时的内容  
            autoClearinitialContent:true,  
            //关闭字数统计  
            wordCount:false,  
            //关闭elementPath  
            elementPathEnabled:false,  
            //默认的编辑区域高度  
            initialFrameHeight:150,
            //默认的编辑区域宽度
            initialFrameWidth:470
            //更多其他参数，请参考ueditor.config.js中的配置项  
        });  
    </script>

    <script type="text/javascript">  
        var parent_step = UE.getEditor('parent_step',{  
            //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个  
           toolbars:[['fontfamily', 'fontsize', '|',
                'justifyleft', 'justifycenter', 'justifyright']],  
            //focus时自动清空初始化时的内容  
            autoClearinitialContent:true,  
            //关闭字数统计  
            wordCount:false,  
            //关闭elementPath  
            elementPathEnabled:false,  
            //默认的编辑区域高度  
            initialFrameHeight:150,
            //默认的编辑区域宽度
            initialFrameWidth:470
            //更多其他参数，请参考ueditor.config.js中的配置项    
        });  
    </script>
</block>
