<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="__CSS__/index/snower.css" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/index/theme_red.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/main.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/common.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/font-awesome.css">
<script type="text/javascript" async="" src="__JS__/index/wtj.js"></script>
<script src="__JS__/index/getsignpackage" type="text/javascript"></script>
<script type="text/javascript" src="__JS__/index/jQuery.js"></script>
<script type="text/javascript" src="__JS__/index/maivl.js"></script>
<script type="text/javascript" src="__JS__/index/jquery_min.js"></script>
<script type="text/javascript" src="__JS__/index/swipe_circle.min.js"></script>
<script type="text/javascript" src="__JS__/index/index.js"></script>
<style type="text/css">
   .icon-1{
     background-image: url("__IMG__/pindex/i_btn1.png");
     width: 31px;
     
     margin:0 auto;
     background-size: 100%;
   } 
   .icon-2{
     background-image: url("__IMG__/pindex/i_btn2.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }

   .icon-3{
     background-image: url("__IMG__/pindex/i_btn3.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }
   .icon-4{
     background-image: url("__IMG__/pindex/i_btn4.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }
   .icon-5{
     background-image: url("__IMG__/pindex/i_btn5.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }
   .icon-6{
     background-image: url("__IMG__/pindex/i_btn6.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }
   .icon-7{
     background-image: url("__IMG__/pindex/i_btn7.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }
   .icon-8{
     background-image: url("__IMG__/pindex/i_btn8.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }
   .icon-9{
     background-image: url("__IMG__/pindex/i_btn9.png");
     width: 31px;    
     margin:0 auto;
     background-size: 100%;
   }  
   .footer{ position: fixed;height: 46px; width: 100%; max-width: 640px; background-color: #3F3B3A; bottom:0px; }
   .body{ margin-bottom:48px; }
   .footer_left{font-size: 18px; color:#fff; padding-top: 10px;}
   .fleft{ float: left; }
   .fright{ float: right; }
   .width9{ width:90%; margin:0 auto; }
</style>
<title>EB免费在线英语</title>
        
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Mobile Devices Support @end -->
        <link rel="stylesheet" type="text/css" href="__CSS__/index/weimobfont.css" media="all">
        <link rel="shortcut icon" href="http://stc.weimob.com/img/favicon.ico">
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
        
<div data-role="container" class="container">
    <header data-role="header">
                
        <section id="imgSwipe" class="img_swipe" style="visibility: visible;">
            <ul style="width: 2560px;">
                <li data-index="0" style="width: 640px; left: 0px; transition-duration: 500ms; transform: translate3d(0px, 0px, 0px);">
                    <a href="{$info['linka']}">
                        <div class="img"><img src="{$info['imga']}"></div>
                       <!--<div class="text">
                            <p>EB英语小课堂</p>
                            <p>伴你快乐成长每一天！</p>
                        </div>-->
                    </a>
                </li>
                <li data-index="1" style="width: 640px; left: -640px; transition-duration: 0ms; transform: translate3d(640px, 0px, 0px);">
                    <a href="{$info['linkb']}">
                        <div class="img"><img src="{$info['imgb']}"></div>
                        <!--<div class="text">
                            <p>专心学 尽情玩 英孚英语冬令营</p>
                            <p></p>
                        </div>-->
                    </a>
                </li>
                <li data-index="2" style="width: 640px; left: -1280px; transition-duration: 500ms; transform: translate3d(-640px, 0px, 0px);">
                    <a href="{$info['linkc']}">
                        <div class="img"><img src="{$info['imgc']}"></div>
                        <!--<div class="text">
                            <p>玩转童年 亲绘感恩</p>
                            <p>快来加入我们的 “亲绘感恩“ 派对！</p>
                        </div>-->
                    </a>
                </li>
                <li data-index="3" style="width: 640px; left: -1920px; transition-duration: 500ms; transform: translate3d(-640px, 0px, 0px);">
                    <a href="{$info['linkd']}">
                        <div class="img"><img src="{$info['imgd']}"></div>
                        <!--<div class="text">
                            <p>天津青少儿英语</p>
                            <p>来英孚，收获成绩 更收获成长！</p>
                        </div>-->
                    </a>
                </li>
            </ul>
            <div class="swipe_num"><span id="curNum">1</span>/<span id="totalNum">4</span></div>
        </section>
    </header>
    <if condition="$member eq null">
        <a class="text" style="display: block; cursor: pointer;padding-bottom: 0px;" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7e4fb28fe1443248&redirect_uri=__URL__/huatong/index.php/Phone/Register/register&response_type=code&scope=snsapi_base&state=123&connect_redirect=1#wechat_redirect">
            <p>立即注册，挣钱同时学英语！</p>
        </a>
    </if>
    <if condition="$member neq null">
        <a class="text" style="display: block; cursor: pointer;padding-bottom: 0px;" href="#">
            <p>欢迎回来！</p>
        </a>
    </if>
    
    <section data-role="body" class="body">
                <div class="index_list" id="indexList">
            <ul style="margin-top:5px">
                <li>
                    <a href="{:U('AboutUs/aboutus')}">
                        <i class="icon-1"></i>
                        <p>关于我们</p>

                    </a>
                </li>
                <li>
                    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7e4fb28fe1443248&redirect_uri=__URL__/huatong/index.php/Phone/Honey/honey&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
                        <i class="icon-2"></i>
                        <p>我的蜂巢</p>
                    </a>
                </li>
                <li>
                    <!-- <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7e4fb28fe1443248&redirect_uri=__URL__/huatong/index.php/Phone/YellowBee/index&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
                        <i class="icon-3"></i>
                        <p>大黄蜂计划</p>
                    </a> -->
                    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7e4fb28fe1443248&redirect_uri=__URL__/huatong/index.php/Phone/YellowBee/BigYellowBee&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
                        <i class="icon-3"></i>
                        <p>大黄蜂计划</p>
                    </a>
                </li>
                <li>
                    <a href="{:U('Ebshaoer/ebshaoer',array('openid'=>$openid))}">
                    <i class="icon-4"></i>
                    <p>EB少儿</p>
                    </a>
                </li>
                <li>
                    <a href="{:U('Ebadult/ebadult',array('openid'=>$openid))}">
                        <i class="icon-5"></i>
                        <p>EB成人</p>
                    </a>
                </li>
                <li>
                    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7e4fb28fe1443248&redirect_uri=__URL__/huatong/index.php/Phone/CloudCourse/CloudCourse&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
                            <i class="icon-6"></i>
                            <p>亲子云课堂</p>
                    </a>
                </li>
                 <li class="no_bd">
                    <a href="{:U('Honey/rule',array('openid' => $openid))}">
                         <i class="icon-7"></i>
                         <p>EB规则</p>
                    </a>
                </li>
                <li class="no_bd">
                    <a href="http://weidian.com/s/921818686?wfr=c">
                        <i class="icon-8"></i>
                        <p>EB商城</p>
                    </a>
                </li>
                 <li class="no_bd">
                    <a href="{:U('Beautiful/beautiful')}">
                    <i class="icon-9"></i>
                    <p>美校长计划</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <footer data-role="footer" class="footer">
        <!--<div class="copyright"><a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/home?pid=507002&bid=1046949&wechatid=fromUsername&wxref=mp.weixin.qq.com" style="color:#B70000">© 天津英孚青少儿英语</a></div>-->
         
   <!--    <div class="clearfix width9"> -->
        <div style="width:100%;height:15px;"></div>
        <p class="fleft footer_left">
        <div style="text-align:center">
            <font size="2" color="white">© FOREST AND TREE FRIENDS TECH. CO., LTD.</font>
        </div>
        </p>
        <!-- <p class="fright footer_left"><strong>4008-80-80-80</strong></p> -->
      <!-- </div> -->


   </footer>

<!--
导航菜单
   后台设置的快捷菜单
-->

<script type="text/javascript" src="__JS__/index/ChatFloat.js"></script>
<script type="text/javascript">
var str_domain = location.href.split('/',4)[2];
var boolIsTest = true;
if(str_domain == 'www.weimob.com' || str_domain.indexOf('m.weimob.com') > 0){
	boolIsTest = false;
}
//1.0 web
new ChatFloat({
        AId: '507002',
        openid: "",
		top:150,
		right:0,
		IsTest:boolIsTest
});
</script>

<!--
echo STATIC_DOMAIN."/src/jQuery.js?v=10101011 
-->
<script type="text/javascript" src="__JS__/index/share_channel.js"></script>
<script type="text/javascript" src="__JS__/index/base64.js"></script>
<script type="text/javascript" src="__JS__/index/st.js"></script>
<script type="text/javascript">
 //var jq=$.noConflict();
 //使用案例如###如若上线请到研发群找我@赵增煜###
st.push("_triggerEvent",{
		"is_statistic_on":"on", //开关
		"statisticServerPath": "http://statistic.weimob.com/wm.js", //统计地址
		"memcServerPath": "http://statistic.weimob.com/memc?cmd=get", //缓存地址
		"stat_action":"loadPage",  //统计动作类型
		"stat_optValue":""    //参数值
});
</script>

<!-- weixin js sdk start-->
<script type="text/javascript" src="__JS__/index/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="__JS__/index/weixin.js"></script>
<script type="text/javascript">
// alert(window.shareData.t_callback_func);
// alert('getShareImageUrl'+window.shareData.f_callback_func);
var imgUrl= getShareImageUrl();
_share.push("_shareEvent",{
		"is_share_on":"on", //开关
		"pid":507002,
		"bid":"",
		"mUrl":"http://m.weimob.com",
		"optVal":
        {
            "shareLink": window.shareData.timeLineLink,
            "shareTitle": window.shareData.tTitle,
            "shareContent":window.shareData.tContent,
            "shareImg":window.shareData.imgUrl,
            "t_callback_func":window.shareData.t_callback_func,
            "f_callback_func":window.shareData.f_callback_func,
            "shareType":"",     
            "shareDataUrl":""
        }
});
</script>
<!-- weixin js sdk end -->


</div><script src="__JS__/index/wm.js"></script></body></html>