<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__CSS__/pstyle.css" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/index/theme_red.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/main.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/common.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/font-awesome.css">
<script type="text/javascript" src="__JS__/index/jQuery.js"></script>
<script type="text/javascript" src="__JS__/index/jquery_min.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>
<style type="text/css">
   .footer{ position: fixed;height: 48px; width: 100%; max-width: 640px; background-color: #3F3B3A; bottom:0px; }
   .body{ margin-bottom:48px; }
   .footer_left{font-size: 18px; color:#fff; padding-top: 10px;}
   .fleft{ float: left; }
   .fright{ float: right; }
   .width9{ width:90%; margin:0 auto; }
</style>


<title>红包提现</title>
        
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">         <meta content="telephone=no, address=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" type="text/css" href="__CSS__/index/weimobfont.css" media="all">
  <link rel="shortcut icon" href="http://stc.weimob.com/img/favicon.ico">
  </head>


  <body onselectstart="return true;" ondragstart="return false;">
        
<div  class="container">
    <header data-role="header" class="header" style="background-color: rgb(232, 50, 40);">
      <div class=" width95 pcenter clearfix">
       <div class="fl width3 mar10 "><img src="__IMG__/Ebshaoer/hicon1.png" /></div>

       <div class="fl width4"><p class="font18" style="color:white;">红包提现</p></div>
   
       <div class="fl width25">
          <a class="width25 fl showblock question"><img src="__IMG__/Ebshaoer/hicon3.png" /></a>
          <a class="width7 fr showblock" href="tel:__PHONE__"><img src="__IMG__/Ebshaoer/hicon2.png" /></a>
       </div>
       </div> 
    </header>
    <!-- 弹出层 start -->
    <div id="template" style="display:none;">
        <center>
        <div class="fl width4"><p style="text-align:center;"><a href="http://www.baidu.com"><font size="3px" color="red";>少儿er英语</a></p></div>
        </center> 
    </div>
    <!-- 弹出层 end -->

    <div class="fix_height secontent">
    
    <!-- 用户头像 -->
      <div class="img" style="background-image:url('__IMG__/Ebshaoer/background_img.jpg');background-size:100% 250px;background-repeat:no-repeat;width:100%;height:250px;">
        <div style="text-align:center; padding-top:6%;">
            <img src="{$wx_img}" style="width:28%;border-radius:60%;"/>
            <p><font color="white" size="4px">昵称：{$wx_nickname}</font></p>
            <p><font color="white" size="4px">红包余额：{$red_packet}元</font></p>
        </div>
      </div>
      <br/>
 <form name="form" action="{:U('tixian_update')}" method="post" >
  <div style="background-color: lightgray;color:black;padding-left:15%">
    提现金额：<input type="text" name="money" id="money" placeholder="直接输入提现金额(整数)" style="padding: 3px;margin:4px 0px;"><br/>
    银行卡信息：<br/>
    户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
        <input type="text" name="user_name" id="user_name" style="padding: 3px;margin:4px 0px;"><br/>
    账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：
        <input type="text" name="card_num" id="card_num" style="padding: 3px;margin:4px 0px;"><br/>
    开&nbsp;户&nbsp;行&nbsp;&nbsp;：
        <input type="text" name="bank_name" id="bank_name" style="padding: 3px;margin:4px 0px;"><br/><br/>
        <input type="hidden" name="openid" value="{$openid}">
    <button type="submit" name="btn_ok" id="btn_ok" class="btn_ok" value="提现" style="background:#E15865;width:30%;margin-left:27%;">提现</button><br/><br/>
  </div>
</form>
    <footer data-role="footer" class="footer">
         
      <div class="pcenter width9">
          <p class="fl footer_text"><strong><i>EBfree.com</i></strong></p>
          <p class="fr footer_text"><strong>4008-80-80-80</strong></p>
      </div>

   </footer>
  </div>
  <script type="text/javascript">
   $('.question').on('click', function(){  
    layer.open({
    type: 1,
    title: false, //不显示标题
    area: ['280px', '180px'], //宽高    
    shadeClose: true, //开启遮罩关闭
    content:$('#template').html(),
  });
  });
  </script>
  <script>
$("form").submit( function () {
  var gg = $('#card_num').val();
  //alert(gg.length);
    if ($('#money').val() == '') {
        alert('请输入提现金额');
        return false;
    };
    if ($('#user_name').val() == '') {
        alert('请输入户名');
        return false;
    };
    if ($('#bank_name').val() == '') {
        alert('请输入开户行');
        return false;
    };
    if ($('#card_num').val() == '') {
        alert('请输入卡号');
        return false;
    };
    if (gg.length < 16) {
        alert('输入的卡号有误');
        return false;
    };

    } );
 </script>
</body>
</html>