<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__CSS__/pstyle.css" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/index/theme_red.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/main.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/common.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/font-awesome.css">
<script type="text/javascript" src="__JS__/index/jQuery.js"></script>
<script type="text/javascript" src="__JS__/index/jquery_min.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>
<style type="text/css">
   .footer{ position: fixed;height: 48px; width: 100%; max-width: 640px; background-color: #3F3B3A; bottom:0px; }
   .body{ margin-bottom:48px; }
   .footer_left{font-size: 18px; color:#fff; padding-top: 10px;}
   .fleft{ float: left; }
   .fright{ float: right; }
   .width9{ width:90%; margin:0 auto; }
</style>


<title>红包详情</title>
        
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">         <meta content="telephone=no, address=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" type="text/css" href="__CSS__/index/weimobfont.css" media="all">
  <link rel="shortcut icon" href="http://stc.weimob.com/img/favicon.ico">
  </head>


  <body onselectstart="return true;" ondragstart="return false;">
        
<div  class="container">
    <header data-role="header" class="header">
      <div class=" width95 pcenter clearfix">
       <div class="fl width3 mar10 "><img src="__IMG__/Ebshaoer/hicon1.png" /></div>

       <div class="fl width4"><p class="font18">红包详情</p></div>
   
       <div class="fl width25">
          <a class="width25 fl showblock question"><img src="__IMG__/Ebshaoer/hicon3.png" /></a>
          <a class="width7 fr showblock" href="tel:__PHONE__"><img src="__IMG__/Ebshaoer/hicon2.png" /></a>
       </div>
       </div> 
    </header>
    <!-- 弹出层 start -->
    <div id="template" style="display:none;">
        <center>
        <div class="fl width4"><p style="text-align:center;"><a href="http://www.baidu.com"><font size="3px" color="red";>少儿er英语</a></p></div>
        </center> 
    </div>
    <!-- 弹出层 end -->

    <div class="fix_height secontent">
    
    <!-- 用户头像 -->
      <div class="img" style="background-image:url('__IMG__/Ebshaoer/red_detail_img.png');background-size:100% 130px;background-repeat:no-repeat;width:100%;height:125px;">
        <div style="padding-top:3%;padding-left:9%;">
            <img src="{$wx_img}" style="width:28%;border-radius:60%;"/>
            <div style="margin-top: -70px; margin-left: 110px;">
              <font size="4px" color="white">昵称：{$wx_nickname}</font><br>
              <font size="4px" color="white">红包余额：{$red_packet}元</font>
            </div>
        </div>
      </div>

      <div style="background-color:#f5f4f3;height:50px;color:#000;">
        <p style="padding-top: 15px;font-size:18px;"><img src="{$wx_img}" style="width:33px;border-radius:60%;"/>&nbsp;&nbsp;我的学校</p>
        <sapn style="float:right;margin-top: -30px;margin-right: 20px;font-size:18px;">
        <button type="button" style="width:60px; background:red;color:white;border-width: 0px;height:30px; border-radius:50px;">{$mengyou}人</button></sapn>
      </div>
      <div style="background-color:#fff;color:#000;">
        <ul style="border:3px solid #f5f4f3;height:50px;">
             <p style="font-size:18px;margin-top: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;直营校</p>
          <sapn style="float:right;margin-top: -30px;margin-right: 20px;font-size:18px;">
          <button type="button" style="width:60px; background:red;color:white;border-width: 0px;height:30px; border-radius:50px;">{$mengyou1}人</button></sapn></sapn> 
        </ul>
        <ul style="border:3px solid #f5f4f3;height:50px;">
             <p style="font-size:18px;margin-top: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分校</p>
          <sapn style="float:right;margin-top: -30px;margin-right: 20px;font-size:18px;">
          <button type="button" style="width:60px; background:red;color:white;border-width: 0px;height:30px; border-radius:50px;">{$mengyou2}人</button></sapn></sapn> 
        </ul>
        <ul style="border:3px solid #f5f4f3;height:50px;">
             <p style="font-size:18px;margin-top: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;子校</p>
          <sapn style="float:right;margin-top: -30px;margin-right: 20px;font-size:18px;">
          <button type="button" style="width:60px; background:red;color:white;border-width: 0px;height:30px; border-radius:50px;">{$mengyou3}人</button></sapn></sapn> 
        </ul>
      </div>

      <div style="background:#f5f4f3;height:50px;color:#000;">
        <p style="padding-top: 15px;font-size:18px;"><img src="{$wx_img}" style="width:33px;border-radius:60%;"/>&nbsp;&nbsp;我的奖金</p>
        <sapn style="float:right;margin-top: -30px;margin-right: 20px;font-size:18px;">
        <button type="button" style="width:60px; background:red;color:white;border-width: 0px;height:30px; border-radius:50px;">{$all_money}元</button></sapn></sapn>
      </div>
      <div style="background-color:#fff;color:#000;">
        <ul style="border:3px solid #f5f4f3;height:50px;">
             <p style="font-size:18px;margin-top: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推广奖金</p>
          <sapn style="float:right;margin-top: -30px;margin-right: 20px;font-size:18px;"><button type="button" style="width:60px; background:red;color:white;border-width: 0px;height:30px; border-radius:50px;">{$tui_money}元</button></sapn></sapn> 
        </ul>
        <ul style="border:3px solid #f5f4f3;height:50px;">
             <p style="font-size:18px;margin-top: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学费奖金</p>
          <sapn style="float:right;margin-top: -30px;margin-right: 20px;font-size:18px;"><button type="button" style="width:60px; background:red;color:white;border-width: 0px;height:30px; border-radius:50px;">{$xue_money}元</button></sapn></sapn> 
        </ul>
      </div><br/>
      <!-- <volist name='detail_mingxi' id='vo'>
        {$vo['remarks']}<br/>
      </volist> -->
      <div style="color:#000">
      <table style="width:100%;text;text-align:center;">
        <thead>
          <tr>
            <th style="background:#6f7070;width:33%;color:#fff;text-align:center;">时 间</th>&nbsp;&nbsp;
            <th style="background:#6f7070;width:33%;color:#fff;text-align:center;">金 额</th>&nbsp;&nbsp;
            <th style="background:#6f7070;width:33%;color:#fff;text-align:center;">备 注</th>
          </tr>
        </thead>
        <tbody>
          <volist name='detail_mingxi' id='vo'>
            <tr>
              <td><php>echo date("Y-m-d ", $vo['time']);</php></td>
              <td style="background-color:#B8B8B8">{$vo['money']}元</td>
              <td>{$vo['remarks']}</td>
            </tr>
          </volist>
        </tbody>
      </table>
      </div>

    <footer data-role="footer" class="footer">
         
      <div class="pcenter width9">
          <p class="fl footer_text"><strong><i>EBfree.com</i></strong></p>
          <p class="fr footer_text"><strong>4008-80-80-80</strong></p>
      </div>

   </footer>
  </div>
  <script type="text/javascript">
   $('.question').on('click', function(){  
    layer.open({
    type: 1,
    title: false, //不显示标题
    area: ['280px', '180px'], //宽高    
    shadeClose: true, //开启遮罩关闭
    content:$('#template').html(),
  });
  });
  </script>
</body>
</html>