<link rel="stylesheet" href="__MATRIX__/css/bootstrap.min.css" />
<link rel="stylesheet" href="__MATRIX__/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__MATRIX__/css/fullcalendar.css" />
<link rel="stylesheet" href="__MATRIX__/css/matrix-style.css" />
<link rel="stylesheet" href="__MATRIX__/css/matrix-media.css" />
<link href="__MATRIX__/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="__MATRIX__/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="__MATRIX__/css/jquery.gritter.css" />
<link rel="stylesheet" href="__MATRIX__/css/self_define.css" />
<link rel="stylesheet" href="__MATRIX__/css/select2.css" />
