<!--sidebar-menu-->

<div id="sidebar">

    <ul>

        <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>课程设置</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="Course"><a href="{:U('course/index')}">课程管理</a>

                </li>

                <li id="Level"><a href="{:U('level/index')}">课程等级管理</a>

                </li>

                <li id="Mission"><a href="{:U('mission/index')}">任务管理</a>

                </li>

                <li id="Oral"><a href="{:U('oral/index')}">口语管理</a>

                </li>

                <!-- <li><a href="form-wizard.html">口语管理</a>

                </li> -->

            </ul>

        </li>

        <li class="submenu"> <a href="#"><i class="icon icon-credit-card"></i> <span>会员活动</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="Coupon"><a href="{:U('coupon/index')}">优惠券管理</a>

                </li>

            </ul>

        </li>

        <li class="submenu"> <a href="#"><i class="icon icon-user"></i> <span>前台会员管理</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="Userlist"><a href="{:U('Userlist/index')}">用户管理</a>

                </li>

                <li id="Tixian"><a href="{:U('Tixian/index')}">用户提现单管理</a>

                </li>

            </ul>

        </li>

        <li class="submenu"> <a href="#"><i class="icon icon-tags"></i> <span>学习情况管理</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="User"><a href="{:U('User/index')}">课程报名</a>

                </li>

                <li id="Usermission"><a href="{:U('Usermission/index')}">任务完成情况</a>

                </li>

               <!--  <li><a href="{:U('User/index')}">口语完成情况</a>

                </li> -->

            </ul>

        </li>

        <li class="submenu"> <a href="#"><i class="icon icon-tags"></i> <span>大黄蜂计划管理</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="YellowBee"><a href="{:U('YellowBee/YellowBee')}">大黄蜂计划</a>

                </li>

            </ul>

        </li>

        <li class="submenu"> <a href="#"><i class="icon icon-tags"></i> <span>亲子云课堂管理</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="CloudCourse"><a href="{:U('CloudCourse/BroadcastManager')}">蜜蜂电台管理</a>

                </li>

                <li id="CloudCourse"><a href="{:U('CloudCourse/MovieManager')}">蜜蜂影院管理</a>

                </li>

                <li id="CloudCourse"><a href="{:U('CloudCourse/CloudcourseManager')}">云课堂管理</a>

                </li>

            </ul>

        </li>

        <li class="submenu"> <a href="#"><i class="icon icon-tags"></i> <span>关于我们信息管理</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="AboutUs"><a href="{:U('AboutUs/AboutUsManager')}">关于我们信息管理</a>

                </li>

            </ul>

        </li>
        <li class="submenu"> <a href="#"><i class="icon icon-tags"></i> <span>顾客打赏</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="Dashang"><a href="{:U('Dashang/index')}">课程打赏</a>

                </li>
                <li id="Dashangg"><a href="{:U('Dashangg/index')}">影院打赏</a>

                </li>

            </ul>

        </li>
        <li class="submenu"> <a href="#"><i class="icon icon-tags"></i> <span>首页图片</span> <!-- <span class="label label-important">3</span> --></a>

            <ul>

                <li id="Homepage"><a href="{:U('Homepage/home')}">首页图片</a>

                </li>

            </ul>

        </li>

        <!-- <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>

            <ul>

                <li><a href="error403.html">Error 403</a>

                </li>

                <li><a href="error404.html">Error 404</a>

                </li>

                <li><a href="error405.html">Error 405</a>

                </li>

                <li><a href="error500.html">Error 500</a>

                </li>

            </ul>

        </li> -->

        <li class="content"> <span>Monthly Bandwidth Transfer</span>

            <div class="progress progress-mini progress-danger active progress-striped">

                <div style="width: 77%;" class="bar"></div>

            </div>

            <span class="percent">77%</span>

            <div class="stat">21419.94 / 14000 MB</div>

        </li>

        <li class="content"> <span>Disk Space Usage</span>

            <div class="progress progress-mini active progress-striped">

                <div style="width: 87%;" class="bar"></div>

            </div>

            <span class="percent">87%</span>

            <div class="stat">604.44 / 4000 MB</div>

        </li>

    </ul>

</div>

<!--sidebar-menu-->

