<!--亲子云课堂 王超 20160405-->
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta charset="utf-8">
    	<link rel="stylesheet" type="text/css" href="__CSS__/pstyle.css" media="all">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/theme_red.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/main.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/reset.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/common.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/font-awesome.css">
		<script type="text/javascript" src="__JS__/index/jQuery.js"></script>
		<script type="text/javascript" src="__JS__/index/jquery_min.js"></script>
		<script type="text/javascript" src="__JS__/layer.js"></script>
		<style type="text/css">
   			.footer{ position: fixed;height: 48px; width: 100%; max-width: 640px; background-color: #3F3B3A; bottom:0px; }
   			.body{ margin-bottom:48px; }
   			.footer_left{font-size: 18px; color:#fff; padding-top: 10px;}
   			.fleft{ float: left; }
   			.fright{ float: right; }
   			.width9{ width:90%; margin:0 auto; }
   			.gradient{ width:100%; height:500px; background: -webkit-gradient(linear,0 0,0 bottom,from(#ef5567),to(#ed2b61));}
		</style>

		<title>蜜蜂电台</title>

		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    	<meta content="telephone=no, address=no" name="format-detection">
    	<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
    	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    	<link rel="stylesheet" type="text/css" href="__CSS__/index/weimobfont.css" media="all">
    	<link rel="shortcut icon" href="http://stc.weimob.com/img/favicon.ico">
	</head>

	<body class="gradient">
		<!-- 弹出层 帮助 start -->
    	<div id="template" style="display:none;">
        	<center>
        	<div class="fl"><p style="text-align:center;"><a href="http://www.baidu.com"><font size="3px" color="red";>亲子云课堂=、=我没有什么可以帮助你的:-)</a></p></div>
        	</center> 
    	</div>
   		<!-- 弹出层 帮助 end -->

		<header data-role="header" class="header" style="background:rgba(0,0,0,0)">
      		<div class=" width95 pcenter clearfix">
       			<div class="fl width3 mar10 "><img src="__IMG__/CloudCourse/hicon1.png" /></div>
				<div class="fl width4"><p><font color="white">蜜蜂电台</p></div>
   				<div class="fl width25">
        			<a class="width25 fl showblock question"><img src="__IMG__/CloudCourse/hicon3.png" /></a>
         			<a class="width7 fr showblock" href="tel:__PHONE__"><img src="__IMG__/CloudCourse/hicon2.png" /></a>
       			</div>
       		</div> 
    	</header>

    	<div style="width:100%;height:48px"><!--只是为了把元素对齐:)--></div>
      
      <!--播放器界面-->
      <audio id="BroadcastAudio">
      </audio>

    	<div class="img" style="background-image:url('__IMG__/CloudCourse/brctbackground.png');background-size:100% 300px;background-repeat:no-repeat;width:100%;height:300px;">
          <div style="padding-top:21px;text-align:center;">
              <p><font color="white" size="4px">{$episode_list[0]['serial_title']}系列</font></p>
              <img id="AlbumImg" src="__IMG__/CloudCourse/rotate_album.png" style="width:150px;border-radius:60%;margin-top:15px;"/><!--原src{$episode_list[0]['serial_img']} -->
          </div>
          <div id="PlayProcessBtn" style="width:260px;height:1px;margin:30px auto 11px auto;">
              <img src="__IMG__/CloudCourse/white.png" style="width:15px;border-radius:60%;"/>
          </div>
          <div style="width:250px;height:2px;background:white;margin:0px auto 25px auto;">
          </div>
      </div>

      <!--选集-->
      <div style="width:100%;height:5px"></div><!--留空-->
      <volist name="episode_list" id="episode" mod="5">
            <eq name="mod" value="4">
                <div onclick="AudioPlayer('{$episode['episode_link']}')" style="width:20%;height:60px;text-align:center;float:left;border-bottom:1px solid white;">
                  <p style="margin-top:19px;"><font color="white" size="4px">{$episode['episode_id']}</font></p>
                </div>
            <else/>
                <div onclick="AudioPlayer('{$episode['episode_link']}')" style="width:20%;height:60px;text-align:center;float:left;border-bottom:1px solid white;">
                  <div style="width:1px;height:60px;float:right;background:white"></div>
                  <p style="margin-top:19px;"><font color="white" size="4px">{$episode['episode_id']}</font></p>
                </div>
            </eq>
      </volist>

    	<footer data-role="footer" class="footer">
         	<div class="pcenter width9">
          		<p class="fl footer_text"><strong><i>EBfree.com</i></strong></p>
          		<p class="fr footer_text"><strong>4008-80-80-80</strong></p>
      		</div>
      	</footer>
	</body>
	<script type="text/javascript">
  		$('.question').on('click', function(){  
    		layer.open({
    			type: 1,
    			title: false, //不显示标题
    			area: ['280px', '180px'], //宽高    
    			shadeClose: true, //开启遮罩关闭
    			content:$('#template').html(),
			});
		});


    //音频开始播放
    function StartPlay(BroadcastAudio){
      var PlayProcessBtn = document.getElementById('PlayProcessBtn'),
          AlbumImg=document.getElementById('AlbumImg');
      var angle=0,paddingleft;
      BroadcastAudio.play();
      var last_time=0;//用于进度条和专辑图旋转控制,275:进度条宽度决定的
      var interval = setInterval(function(){
        if(BroadcastAudio.currentTime>last_time){
          //此函数每秒调用20次，time记录的是此函数的总调用次数
          last_time=BroadcastAudio.currentTime;
          angle=(angle+0.5)%360;
          AlbumImg.style.webkitTransform="rotate("+angle+"deg)";//专辑图旋转
          paddingleft=275*BroadcastAudio.currentTime/BroadcastAudio.duration+5;
          PlayProcessBtn.style.paddingLeft=paddingleft+"px";//进度条
          if(BroadcastAudio.currentTime>=BroadcastAudio.duration)
            clearInterval(interval);
        }
        
      }, 50);
    }

    //单击集数后再开始播放
    function AudioPlayer(episode_link){
      var BroadcastAudio=document.getElementById('BroadcastAudio');
      BroadcastAudio.src=episode_link;
      BroadcastAudio.oncanplay=StartPlay(BroadcastAudio);
    };
	</script>
</html>