<!--黄蜂计划 王超 20160415-->
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta charset="utf-8">
    	<link rel="stylesheet" type="text/css" href="__CSS__/pstyle.css" media="all">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/theme_red.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/main.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/reset.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/common.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/index/font-awesome.css">
		<script type="text/javascript" src="__JS__/index/jQuery.js"></script>
		<script type="text/javascript" src="__JS__/index/jquery_min.js"></script>
		<script type="text/javascript" src="__JS__/layer.js"></script>
		<style type="text/css">
   			.footer{ position: fixed;height: 48px; width: 100%; max-width: 640px; background-color: #3F3B3A; bottom:0px; }
   			.body{ margin-bottom:48px; }
   			.footer_left{font-size: 18px; color:#fff; padding-top: 10px;}
   			.fleft{ float: left; }
   			.fright{ float: right; }
   			.width9{ width:90%; margin:0 auto; }
		</style>

		<title>黄蜂计划</title>

		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    	<meta content="telephone=no, address=no" name="format-detection">
    	<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
    	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    	<link rel="stylesheet" type="text/css" href="__CSS__/index/weimobfont.css" media="all">
    	<link rel="shortcut icon" href="http://stc.weimob.com/img/favicon.ico">
	</head>

	<body>
		<!-- 弹出层 帮助 start -->
    	<div id="template" style="display:none;">
        	<center>
        	<div class="fl"><p style="text-align:center;"><a href="http://www.baidu.com"><font size="3px" color="red";>黄蜂计划=、=我没有什么可以帮助你的:-)</a></p></div>
        	</center> 
    	</div>
   		<!-- 弹出层 帮助 end -->

		<header data-role="header" class="header" style="background:rgba(201,150,34,100)">
      		<div class=" width95 pcenter clearfix">
       			<div class="fl width3 mar10 "><img src="__IMG__/CloudCourse/hicon1.png" /></div>
				<div class="fl width4"><p><font color="white">勤·免</font></p></div>
   				<div class="fl width25">
        			<a class="width25 fl showblock question"><img src="__IMG__/CloudCourse/hicon3.png" /></a>
         			<a class="width7 fr showblock" href="tel:18702206379"><img src="__IMG__/CloudCourse/hicon2.png" /></a>
       			</div>
       		</div> 
    	</header>

    	<div style="width:100%;height:48px"><!--只是为了把元素对齐:)--></div>

    	<div class="img" style="background-image:url('__IMG__/YellowBee/red_bee.png');background-size:100% 250px;background-repeat:no-repeat;width:100%;height:250px;"></div>
		
		<a href="{:U('YellowBee/YellowBee')}">
			<img src="__IMG__/YellowBee/yellow_bee.png" style="width:100%;margin-top:9px;"/>
		</a>

		<a href="{:U('YellowBee/BigYellowBee')}">
			<img src="__IMG__/YellowBee/big_yellow_bee.png" style="width:100%;margin-top:9px;"/>
		</a>

		<div style="width:100%;height:56px;"></div><!--加长一点以便划上去-->

    	<footer data-role="footer" class="footer">
         	<div class="pcenter width9">
          		<p class="fl footer_text"><strong><i>EBfree.com</i></strong></p>
          		<p class="fr footer_text"><strong>4008-80-80-80</strong></p>
      		</div>
      	</footer>
	</body>
	<script type="text/javascript">
  		$('.question').on('click', function(){  
    		layer.open({
    			type: 1,
    			title: false, //不显示标题
    			area: ['280px', '180px'], //宽高    
    			shadeClose: true, //开启遮罩关闭
    			content:$('#template').html(),
			});
		});
	</script>
</html>