<!DOCTYPE html>

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="__CSS__/pstyle.css" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/index/theme_red.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/main.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/common.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/font-awesome.css">
<script type="text/javascript" src="__JS__/index/jQuery.js"></script>

<script type="text/javascript" src="__JS__/index/jquery_min.js"></script>

<script type="text/javascript" src="__JS__/layer.js"></script>
<style type="text/css">
   .footer{ position: fixed;height: 48px; width: 100%; max-width: 640px; background-color: #3F3B3A; bottom:0px; }
   .body{ margin-bottom:48px; }
   .footer_left{font-size: 18px; color:#fff; padding-top: 10px;}
   .fleft{ float: left; }
   .fright{ float: right; }
   .width9{ width:90%; margin:0 auto; }
</style>


<title>打赏</title>
        
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
                
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="__CSS__/index/weimobfont.css" media="all">
    <link rel="shortcut icon" href="http://stc.weimob.com/img/favicon.ico">
    </head>
    <body>
        
    <div  class="container">
    <header data-role="header" class="header " style="background-color:#a2302c;">
      <div class=" width95 pcenter clearfix">
       <div class="fl width3 mar10 "><img src="__IMG__/Ebshaoer/hicon1.png" /></div>

       <div class="fl width4"><p class="font18" style="color:white">打赏</p></div>
   
       <div class="fl width25">
          <a class="width25 fl showblock question"><img src="__IMG__/Ebshaoer/hicon3.png" /></a>
          <a class="width7 fr showblock" href="tel:18702206379"><img src="__IMG__/Ebshaoer/hicon2.png" /></a>
       </div>
       </div> 
    </header>
    <div class="fix_height secontent">
    

    <!-- 弹出层 帮助 start -->
    <div id="template" style="display:none;">
        <center>
        <div class="fl width4"><p style="text-align:center;"><a href="http://www.baidu.com"><font size="3px" color="red";>少儿er英语</a></p></div>
        </center> 
    </div>
    <!-- 弹出层 帮助 end -->
    
    <form enctype="multipart/form-data" name="formname" id="formname" action="{:U('dashang_update')}" method="post" >
    <div style="background-image:url('__IMG__/Ebshaoer/dashang.png'); background-size:cover;text-align:center;color:white">
      <img src="__IMG__/Ebshaoer/zhong.png" style="width:100%"><br/>
      <a href="http://serv2.matesofts.com/huatong/index.php/Phone/MsWxpay/js_api_cal?money=1&member_id={$member_id}&mission_id={$mission_id}&serial_id={$serial_id}"><img src="__IMG__/Ebshaoer/dashangqian.png" style="width:80px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://serv2.matesofts.com/huatong/index.php/Phone/MsWxpay/js_api_cal?money=2&member_id={$member_id}&mission_id={$mission_id}&serial_id={$serial_id}"><img src="__IMG__/Ebshaoer/dashangqian.png" style="width:80px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://serv2.matesofts.com/huatong/index.php/Phone/MsWxpay/js_api_cal?money=5&member_id={$member_id}&mission_id={$mission_id}&serial_id={$serial_id}"><img src="__IMG__/Ebshaoer/dashangqian.png" style="width:80px"></a><br/>
      1元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5元<br/><br/><br/>
      土豪随意&nbsp;&nbsp;<input type="text" name="money" id="money" placeholder="输入数字"><br/><br/><br/>
      <input type="hidden" name="member_id" value="{$member_id}">
      <input type="hidden" name="mission_id" value="{$mission_id}">
      <input type="hidden" name="serial_id" value="{$serial_id}">
      <img src="__IMG__/Ebshaoer/dashangqian.png" id ="jj" style="width:120px" onclick="document.formname.submit();"><br/>
      确认<br/>
    </div>
    </form>


    <footer data-role="footer" class="footer">
         
      <div class="pcenter width9">
          <p class="fl footer_text"><strong><i>EBfree.com</i></strong></p>
          <p class="fr footer_text"><strong>4008-80-80-80</strong></p>
      </div>

   </footer>

   <script type="text/javascript">
  
$('.question').on('click', function(){  
    
layer.open({
    type: 1,
    title: false, //不显示标题
    area: ['280px', '180px'], //宽高    
    shadeClose: true, //开启遮罩关闭
    content:$('#template').html(),
});

});
</script>
<script>
$("#formname").submit( function () {
    var regBox = {
        regMobile : /^(\d+(?:\.\d{2})?|-1)$/,//手机
    }
 
    var mobile = document.getElementById("money").value;
    var mflag = regBox.regMobile.test(mobile);
    if (!mflag) {
        alert("请输入正确的金额！");
        return false;
    };
    if (mobile == "") {
        alert("请输入正确的金额！");
        return false;
    };
    } );
 </script>
</div>
</body>
</html>