<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="__CSS__/pstyle.css" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/index/theme_red.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/main.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/common.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index/font-awesome.css">
<link rel="stylesheet" type="text/css" href="__CSS__/stylestyle.css" />
	<script src="/huatong/Public/Admin/matrix/js/jquery.min.js"></script> 
	<script src="/huatong/Public/Phone/wechat/js/jweixin-1.0.0.js"></script> 
	<title>领取卡券</title>
</head>
<body>
  <foreach name="coupon_valid" item="value" key="key">
    <!-- <p>该卡券信息</p> -->
    <!-- <php> dump($value); </php> -->
    <!-- {$value['title']} 【优惠金额：{$value['reduce_cost']}】<br/><br/> -->
    <img src="__URL__/{$value['pic_url']}" style="margin-top:10px"><br/>
    <center>
  	<a href="{:U('coupon_get',array('id'=>$value[id]))}"><font size="14px" color="blue">领取卡券</font></a><br/><br/><br/><br/>
    </center>
  </foreach>
</body>
<script>
  /*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
   */
  <foreach name="signPackage" item="value" key="key">
  wx.config({
    debug: true,
    appId: '<?php echo $value["appId"];?>',
    timestamp: <?php echo $value["timestamp"];?>,
    nonceStr: '<?php echo $value["nonceStr"];?>',
    signature: '<?php echo $value["signature"];?>',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
      'addCard',
    ]
  });

  wx.ready(function () {

  	$("<?php echo $value["card_id"];?>").on('click', function(event) {
  		wx.addCard({
  		    cardList: [{
  		        cardId: '<?php echo $value["card_id"];?>',
  		        cardExt: '{"timestamp":"<?php echo $value["timestamp"];?>","nonce_str":"<?php echo $value["nonce_str"]; ?>","signature":"<?php echo $value["signature"];?>"}'
  		    }], // 需要添加的卡券列表
  		    success: function (res) {
  		    	//alert("<?php echo $value["card_id"];?>");
  		        // var cardList = res.cardList; // 添加的卡券列表信息
  		    }
  		});
  	});

  });
  </foreach>


  

</script>