<!DOCTYPE html>
 <!-- 弹出层 加入班级后跳转页面 王超 20160330 test -->
 <html style="background:#e5e3de;font-family:SimHei;">
 <head>
    <script type="text/javascript" src="__JS__/index/jQuery.js"></script>
    <script type="text/javascript" src="__JS__/index/jquery_min.js"></script>
    <script type="text/javascript" src="__JS__/layer.js"></script>
    <script type="text/javascript">
        //扫描二维码后已跳出浏览器，不再需要关闭弹窗并刷新
        (function(){
            parent.closeAndTimer();
        })();
    </script>
 </head>

<body style="margin:0 0 0 0">
</body>
<html>